<html lang="en" ng-app="StarterApp">
  <head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1" />

    <link rel="stylesheet" href="./app/main.css">

  </head>
  <body layout="column" ng-controller="AppCtrl">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav('left')"  class="md-icon-button">
          <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
        <h1>Recommendation on GCP</h1>
      </div>
    </md-toolbar>
    <div layout="row" flex>
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" >
          
        </md-sidenav>
        <div layout="column" flex id="content">
            <md-content layout="column" flex class="md-padding">
              
              <md-grid-list
                md-cols-sm="2" 
                md-cols-md="4" 
                md-cols-gt-md="6"
                md-row-height-gt-md="1:1" md-row-height="2:2"
                md-gutter="12px" md-gutter-gt-sm="8px" >
                
                <md-grid-tile ng-repeat="h in housing" class="gray md-whiteframe-z1"
                  md-rowspan="1" 
                  md-rowspan-sm="1"
                  md-colspan="2" 
                  md-colspan-sm="2"
                  style="background:url('https://storage.googleapis.com/house_images/{{ h.picture }}');background-position:center;">

                  <md-grid-tile-footer class="mgtf" layout-padding>
                    <div layout="row">
                      <div flex ng-click="showDetails($event, h.id, h.picture)" class="mse-p">{{h.title}}</div>
                      <div layout="row" layout-align="center">
                        <div>{{ h.rating }}</div>
                        <div><i class="material-icons md-18">star</i></div>
                      </div>
                    </div>

                    <div layout="row" layout-align="center center">
                      <div class="md-caption">Rate it&nbsp;&nbsp;</div>
                      <div flex>
                        <md-slider flex class="md-primary md-hue-3" md-discrete step="1" min="1" max="5" aria-label="rating"></md-slider>
                      </div>
                      <div>
                        <md-button class="md-raised">Rent</md-button>
                      </div>
                  </md-grid-tile-footer>
                </md-grid-tile>
              
              </md-grid-list>

            </md-content>
        </div>
    </div>
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
    <script src="./app/main.js"></script>
  </body>
</html>